<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2>Contact List :</h2>

      <% if (msg.length !== 0) { %>
      <div class="alert alert-success fw-bold" role="alert">
        <%= msg %> 
      </div>
      <% } %>

      <% if (contacts.length === 0 || contacts.length === null || contacts.length === undefined) { %>
      <div class="alert alert-danger fw-bold" role="alert">
       Data Contact not found 
      </div>
      <% } else {%>
      <table class="table table-hover">
        <thead>
          <tr class="table table-primary">
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Email</th>
            <th scope="col">Action</th>
          </tr>
        </thead>
        <tbody>
          <% let i = 1 %>
          <% contacts.forEach(cont => { %>
          <tr class="table table-secondary">
            <th scope="row"><%= i %> </th>
            <% i++ %>
            <td><%= cont.name %> </td>
            <td><%= cont.email %> </td>
            <td>
              <a class="btn btn-success badge rounded-pill" href="/contact/<%= cont.name %>" role="button">Detail</a>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
      <% }  %>
      
      <a class="btn btn-primary " href="/contact/add" role="button">Add Contact</a>


    </div>
  </div>
</div>